<section class="client-body">
    <div class="box">
        Authenticate using the "<strong>Login</strong>" button or end the authentication using the "<strong>Log
            Out</strong>" button.
    </div>
    <div>
        <div class="level">
            <div class="level-item">
                <a id="authenticate" class="button is-link" title="Create authenticate">Login With Local/JWT</a>
            </div>
            {% if isAuth %}
                <div class="level-item">
                    <a id="logout" class="button is-link">Log Out</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
