{% extends 'layouts/default.html.twig' %}

{% block content %}
    <section class="container">
        <br />
        <h1 class="title">{{ title }}</h1>
        <div class="card">
            <div class="card-image level">
                <figure class="image level-item has-text-centered" style="background-color: white;">
                    <img src="/images/technical_work.jpg" alt="Technical work" style="width: 420px; height: 336px">
                </figure>
            </div>
            <div class="card-content">
                <div class="content has-text-centered">
                    <h1 class="has-text-danger is-size-1">The site under maintenance</h1>
                    <h2 class="has-text-danger">We apologize for the temporary inconvenience</h2>
                    <h2 class="has-text-danger">Check back later</h2>
                    <h2 class="has-text-danger">Administration</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
