<footer>
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="is-size-4 has-text-primary is-uppercase has-text-weight-light">About</p>
                <ul class="list-unstyled has-text-grey-light">
                    <li>
                        <a href="https://blog.feathersjs.com/why-we-built-the-best-web-framework-you-ve-probably-never-heard-of-until-now-176afc5c6aac"
                           title="The Feathers Philosophy" class="has-text-grey-light" target="_blank">Philosophy</a>
                    </li>
                    <li>
                        <a href="https://github.com/feathersjs/feathers/graphs/contributors"
                           title="The Feathers Team and core contributors" class="has-text-grey-light" target="_blank">Team</a>
                    </li>
                    <li>
                        <a href="/features" title="Dive into Feathers Features" class="has-text-grey-light"
                           target="_blank">Features</a>
                    </li>
                    <li>
                        <a href="/comparison" title="Compare Feathers to other Node.js web frameworks"
                           class="has-text-grey-light" target="_blank">Comparison</a>
                    </li>
                    <li>
                        <a href="https://github.com/feathersjs/feathers/milestones" title="Roadmap"
                           class="has-text-grey-light" target="_blank">Roadmap</a>
                    </li>
                    <li>
                        <a href="https://github.com/feathersjs/awesome-feathersjs"
                           title="The Feathers ecosystem - inluding core and community contributed plugins"
                           class="has-text-grey-light" target="_blank">Ecosystem</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="is-size-4 has-text-primary is-uppercase has-text-weight-light">Learn</p>
                <ul class="list-unstyled">
                    <li><a href="http://docs.feathersjs.com" title="Documentation" class="has-text-grey-light"
                           target="_blank">Documentation</a>
                    </li>
                    <li><a href="http://docs.feathersjs.com/guides/readme.html" title="Guides and Tutorials"
                           class="has-text-grey-light" target="_blank">Guides</a>
                    </li>
                    <li><a href="https://blog.feathersjs.com" title="Blog about Feathers on Medium"
                           class="has-text-grey-light" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="column">
                <p class="is-size-4 has-text-primary is-uppercase has-text-weight-light">Support</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://bullish.io" title="Feathers training" class="has-text-grey-light"
                           target="_blank">Training</a>
                    </li>
                    <li>
                        <a href="http://bullish.io" title="Feathers or JavaScript consulting"
                           class="has-text-grey-light" target="_blank">Consulting</a>
                    </li>
                    <li>
                        <a href="https://github.com/feathersjs/feathers/issues" title="Github Issues"
                           class="has-text-grey-light" target="_blank">Github Issues</a>
                    </li>
                    <li>
                        <a href="http://slack.feathersjs.com" title="Feathers Slack"
                           class="has-text-grey-light" target="_blank">Slack</a>
                    </li>
                    <li>
                        <a href="https://docs.feathersjs.com/faq/readme.html"
                           title="Feathers frequently asked questions" class="has-text-grey-light"
                           target="_blank">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="is-size-4 has-text-primary is-uppercase has-text-weight-light">Social</p>
                <ul class="social">
                    <li>
                        <a href="https://twitter.com/feathersjs" target="_blank" title="Feather's Twitter"
                           class="is-size-5 has-text-grey-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/feathersjs" target="_blank" title="Feather's Github"
                           class="is-size-5 has-text-grey-light">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://slack.feathersjs.com/" target="_blank" title="Feather's Slack"
                           class="is-size-5 has-text-grey-light">
                            <i class="fab fa-slack"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.feathersjs.com/" target="_blank" title="Blog"
                           class="is-size-5 has-text-grey-light">
                            <i class="fab fa-medium"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://stackoverflow.com/questions/tagged/feathersjs" target="_blank"
                           title="Stackoverflow tagged Feathers" class="is-size-5 has-text-grey-light">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <p class="is-size-4 has-text-primary is-uppercase has-text-weight-light">Bulma</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://bulma.io/bulma-start/" title="Bulma Start" class="has-text-grey-light"
                           target="_blank">Bulma Start</a>
                    </li>
                    <li>
                        <a href="https://bulma.io/documentation/overview/start/" title="Bulma Documentation"
                           class="has-text-grey-light" target="_blank">Documentation</a>
                    </li>
                    <li>
                        <a href="https://github.com/jgthms/bulma" title="Github Issues"
                           class="has-text-grey-light" target="_blank">Github Issues</a>
                    </li>
                    <li>
                        <a href="https://jenil.github.io/bulmaswatch/" title="Bulma Themes"
                           class="has-text-grey-light" target="_blank">Themes</a>
                    </li>
                    <li>
                        <a href="https://dansup.github.io/bulma-templates/"
                           title="Bulma Templates" class="has-text-grey-light"
                           target="_blank">Templates</a>
                    </li>
                    <li>
                        <a href="https://wikiki.github.io/"
                           title="Bulma Extensions" class="has-text-grey-light"
                           target="_blank">Extensions</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="level">
            <p class="level-item has-text-centered">
                <a href="http://bsa-git.github.io/" target="_blank"><img src="/images/bsa-logo/4_bsa-logo_229x75.png" width="128" height="24"></a>
            </p>
            <p class="level-item has-text-centered">
                <a href="http://bsa-git.github.io/" target="_blank"><span class="has-text-grey-light is-size-5">© 2018 BSA Lab.</span></a>
            </p>
            <p class="level-item has-text-centered">
                <a href="https://bulma.io/" target="_blank"><img src="https://bulma.io/images/made-with-bulma--dark.png" width="128" height="24"></a>
            </p>
        </div>
    </div>
</footer>