<nav id="top-nav" class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="brand-text exotic--{% if color_theme == 'cerulean' %}dark{% else %}light{% endif %} is-size-3"><img
                            src="/images/feather.png" width="30"
                            height="30"> Feather</span>
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item {% if req.action == 'index' %}is-active{% endif %}" href="/">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable {% if req.controller in ['service', 'auth', 'database'] %}is-dropdown{% endif %}">
                    <a class="navbar-link">
                        Examples
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        {% for controller in controllers %}
                            <a class="navbar-item {% if req.controller == controller.name %}is-active{% endif %}"
                               href="/{{ controller.name }}/about">
                                <span><i class="fas {{ controller.icon }}"></i> {{ controller.value }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item is-hidden">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-small">
                                <span class="icon"><i class="fa fa-user-plus"></i></span>
                                <span>Register</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-small is-info is-outlined">
                                <span class="icon"><i class="fa fa-user"></i></span>
                                <span>Login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
