<section>
    <h3>Server Example Output</h3>
    <ul style="list-style: none;">
        {% for event in events %}
            <li>
                <span>{{ event }}</span>
            </li>
        {% endfor %}
    </ul>
</section>
