{% extends 'layouts/sidebar.html.twig' %}

{% block sidebar_content %}
    <section class="normal markdown-section">


        <h1 id="authentication-guides--recipes">Authentication Guides &amp; Recipes<a class="anchorjs-link "
                                                                                      href="#authentication-guides--recipes"
                                                                                      aria-label="Anchor link for: authentication guides  recipes"
                                                                                      data-anchorjs-icon="#"
                                                                                      style="padding-left: 0.375em;"></a>
        </h1>
        <p><a href="https://docs.feathersjs.com/guides/chat/readme.html" target="_blank"><strong>The Feathers Chat</strong></a><br>
            The Feathers chat application guide shows how to set up basic username and password authentication and how
            to use it through direct requests and in a browser application.</p>
        <p><a href="https://docs.feathersjs.com/api/authentication/server.html" target="_blank"><strong>Authentication API</strong></a><br>
            The complete authentication API documentation.</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/how-jwt-works.html" target="_blank"><strong>How JWT Works</strong></a><br>
            Learn more about JWT and how it might differ from authentication methods you've used, previously. (This
            guide is a work in progress.)</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/recipe.customize-jwt-payload.html" target="_blank"><strong>Auth Recipe: Customize the JWT Payload</strong></a><br>
            You can customize the JWT payload. Learn important security implications before you decide to do it.</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/recipe.customize-response.html" target="_blank"><strong>Auth Recipe: Customize the Login Response</strong></a><br>
            Learn how you can customize the response after a user has attempted to login.</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/recipe.mixed-auth.html" target="_blank"><strong>Auth Recipe: Create Endpoints with Mixed Auth</strong></a><br>
            Learn how to setup an endpoint so that it handles unauthenticated and authenticated users with different
            responses for each.</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/recipe.oauth-basic.html" target="_blank"><strong>Auth Recipe: Basic OAuth</strong></a><br>
            Learn how OAuth (Facebook, Google, GitHub) login works, and how you can use it in your application.</p>
        <p><a href="https://docs.feathersjs.com/guides/auth/recipe.custom-auth-strategy.html" target="_blank"><strong>Auth Recipe: Custom Auth Strategy</strong></a><br>
            Learn how to setup a completely custom passport-based auth strategy.</p>
    </section>
{% endblock %}
