<article class="message is-{% if type %}{{ type }}{% else %}danger{% endif %}">
    <div class="message-header">
        <p>{% if type %}{{ type|title }}{% else %}Danger{% endif %}</p>
        <button id="msgbox-delete" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body content">
        {{ text }}
    </div>
</article>

