<section>
    <h3>Server Example Output</h3>
    <span>Available messages: </span>
    <ul style="list-style: none;">
        [
        {% for message in messages %}
            <li>
                <p>{ id: {{ message.id }}, text: '{{ message.text }}' }{% if not loop.last %},{% endif %}</p>
            </li>
        {% endfor %}
        ]
    </ul>
</section>
