<section class="client-body">
    <div class="box">
        User logged in successfully!
    </div>
    <div>
        <div class="level">
            {% if isAuth %}
                <div class="level-item">
                    <a id="logout" class="button is-link">Log Out</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
