<section class="client-body">
    <div class="box">
        Authenticate using the "<strong>Login</strong>" button or end the authentication using the "<strong>Log
            Out</strong>" button.
    </div>
    <div>
        <div class="level">
            {% if not isAuth %}
                {#<div class="level-item">#}
                    {#<a id="authenticate" href="/auth/facebook" class="button is-link" title="Create authenticate">Login#}
                        {#With Facebook</a>#}
                {#</div>#}
                <div class="level-item">
                    <a id="authenticate" href="/auth/github" class="button is-link" title="Create authenticate">Login
                        With GitHub</a>
                </div>
                {#<div class="level-item">#}
                    {#<a id="authenticate" href="/auth/instagram" class="button is-link" title="Create authenticate">Login#}
                        {#With Instagram</a>#}
                {#</div>#}
                <div class="level-item">
                    <a id="authenticate" href="/auth/google" class="button is-link" title="Create authenticate">Login
                        With Google</a>
                </div>
            {% endif %}
            {% if isAuth %}
                <div class="level-item">
                    <a id="logout" class="button is-link" title="Log Out">Log Out</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
